{% extends 'layout.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
    {%  if postForm is defined %}
        {{ form_start(postForm, {'action' : path('blog_new_post_form')}) }}
            {{ form_errors(postForm.title) }}
            {{ form_widget(postForm.title) }}

            {{ form_errors(postForm.summary) }}
            {{ form_widget(postForm.summary) }}

            {{ form_errors(postForm.content) }}
            {{ form_widget(postForm.content) }}

            {{ form_errors(postForm.publishedAt) }}
            {{ form_widget(postForm.publishedAt) }}

            {{ form_widget(postForm.submit) }}
        {{ form_end(postForm) }}
    {% endif %}
{% endblock %}