<div class="row main-content">
    <div class="offset3 span6 zone-content">
        <article>
            <h1>Wise Words</h1>
            <div>
            </div>
        </article>
    </div>
</div>
