<div class="container">
    <a href="{{ path('homepage') }}">
        <img id="logo" src="{{ asset('img/wwlogo@2x.png') }}" alt="Wise Words" >
    </a>
    <ul id="nav" class="nav ww-nav pull-right hidden-phone l_tinynav1">
        <li class="active">
            <a href="{{ path('homepage') }}">Blog
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
        </li>
        <li>
            <a href="#">Layouts</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
    <select id="tinynav1" class="tinynav tinynav1">
        <option>-- Navigation --</option>
        <option value="blog.html.twig">Blog</option>
        <option value="#">Features</option>
        <option value="#">Layouts</option>
    </select>
</div>
