{% if posts is defined %}
    {% if posts | length > 0 %}
        {% for post in posts %}
        <div class="post">
            <h2 class="title">{{ post.title }}</h2>
            <span>Published {{ post.publishedAt|date }}</span>
            <div class="content">
                Contenu du post
            </div>
        </div>
        {% endfor %}
    {% else %}
        No post found.
    {% endif %}
{% endif %}
