{% extends 'layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="post">
        <h2 class="title">{{ post.title }}</h2>
        <span>Published {{ post.publishedAt|date }}</span>
        <div class="content">
            {{ post.content|markdown }}
        </div>
    </div>
{% endblock %}