<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Blog - Landing Page Template{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Poiret+One|PT+Serif|Open+Sans:400,300">
            <link rel="stylesheet" href="{{ asset('css/wisewords.css') }}">
            <link rel="stylesheet" href="{{ asset('css/template.css') }}">
            <link rel="stylesheet" href="{{ asset('css/colors/color-classic.css') }}">
            <link rel="stylesheet" href="{{ asset('css/socialicons.css') }}">
            <link rel="stylesheet" href="{{ asset('css/halfings.css') }}">
            <link rel="stylesheet" href="{{ asset('css/glyphicons.css') }}">
        {% endblock %}
    </head>
    <body data-spy="scroll" data-offset="80">
        {% block header %}
            {% include "partials/header.html.twig" %}

            {% block fos_user_content %}
            {% endblock %}
        {% endblock %}

        {% block body %}
            {% include "partials/body.html.twig" %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </body>
</html>