{% extends "layout.html.twig" %}

{% block body %}
<!-- Register -->
<div id="register-section" class="contact-container">

    <div class="inner-contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 form-group contact-form">
                    <h4>Register</h4>
                    {% block fos_user_content %}
                        {% include "@FOSUser/Registration/register_content.html.twig" %}
                    {% endblock fos_user_content %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}